<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title> Exotipet - Veterinaria </title>
</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                ExotiPet
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active_link">Home</a>
                    </li>

                    <li class="nav__item">
                        <a href="#about" class="nav__link">About</a>
                    </li>

                    <li class="nav__item">
                        <a href="#popular" class="nav__link">Popular</a>
                    </li>

                    <li class="nav__item">
                        <a href="#explore" class="nav__link">Explore</a>
                    </li>

                    {% if username %}
                    <li class="nav__item">
                        <p class="nav__welcome">Bienvenido, {{ username }}</p>
                    </li>
                    <li class="nav__item">
                        <a href="{{ url_for('main.logout') }}" class="nav__link">Cerrar sesión</a>
                    </li>
                    {% endif %}
                </ul>

                <!-- Close button -->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home section" id="home">
            <!-- <img src="{{ url_for('static', filename='img/home-bg.jpg') }}" alt="Home image" class="home__bg"> -->
            <img src="{{ url_for('static', filename='img/reptil-main.jfif') }}" alt="Home image" class="home__bg">
            <div class="home__shadow-animals"></div>

            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__title">

                    </h1>

                    <h1 class="home__title">
                        Loros <br>
                    </h1>

                    <p class="home__description">
                        Los loros (Psittacidae) son aves sociales, inteligentes y coloridas, ampliamente apreciadas como
                        mascotas en todo el mundo. Su adaptabilidad y su habilidad para imitar sonidos humanos los
                        convierten en compañeros entretenidos y fascinantes. Los loros provienen de regiones tropicales
                        y subtropicales, principalmente en América del Sur, Australia y algunas zonas de África y Asia.
                    </p>
                    {% if username %}
                    <a href="/login" class="button">
                        UWU <i class="ri-arrow-right-line"></i>
                    </a>
                    {% else %}
                    <a href="/login" class="button">
                        Login <i class="ri-arrow-right-line"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </section>




        <!--==================== ABOUT ====================-->
        <!--==================== DATOS Y CARACTERISTICAS ====================-->
        <section class="about section" id="about">
            <div class="about__container container grid">
                <div class="about__data">
                    <h2 class="section__title">
                        DATOS Y <br> CARACTERISTICAS <br> <i class="ri-earth-line"></i>
                    </h2>

                    <h3 class="home__subtitle">Tamaño y longevidad <i class="ri-hearts-line"></i></h3>
                    <p class="about__description">
                        Los loros tienen una gran variedad de tamaños, desde pequeños loritos de 10 cm hasta grandes
                        loros de más de 60 cm. Su esperanza de vida varía según la especie, pero muchas pueden vivir
                        entre 20 y 50 años, con algunas especies grandes alcanzando hasta 80 años.
                    </p>

                    <h3 class="home__subtitle">Alimentación <i class="ri-restaurant-line"></i></h3>
                    <p class="about__description">
                        Los loros necesitan una dieta variada que incluya frutas, verduras, semillas y gránulos
                        especiales. Algunos alimentos como el aguacate, la cafeína y el chocolate son tóxicos para ellos
                        y deben evitarse.
                    </p>

                    <h3 class="home__subtitle">Entorno ideal <i class="ri-home-heart-line"></i></h3>
                    <p class="about__description">
                        Estos animales requieren jaulas espaciosas y enriquecidas con ramas y perchas, ya que pasan
                        tiempo trepando y moviéndose. Las jaulas deben permitirles extender sus alas cómodamente y deben
                        limpiarse con regularidad.
                    </p>

                    <h3 class="home__subtitle">Dato interesante <i class="ri-temp-cold-line"></i></h3>
                    <p class="about__description">
                        Los loros usan sus fuertes picos como herramienta para abrir alimentos y como un "tercer pie"
                        para trepar. Sus habilidades para imitar y aprender palabras no solo resultan de su
                        inteligencia, sino también de su estructura vocal única, que les permite producir una gran
                        variedad de sonidos.
                    </p>

                    {% if username %}
                    <a href="/login" class="button">
                        UWU <i class="ri-arrow-right-line"></i>
                    </a>
                    {% else %}
                    <a href="/login" class="button">
                        Login <i class="ri-arrow-right-line"></i>
                    </a>
                    {% endif %}
                </div>

                <div class="about__image">
                    <img src="{{ url_for('static', filename='img/about-beach.jpg') }}" alt="about Image"
                        class="about__img">
                    <div class="about__shadow"></div>
                </div>
            </div>
        </section>

        <!--==================== FOOTER ====================-->
        <footer class="footer">
            <div class="footer__container container grid">
                <div class="footer__content grid">
                    <div>
                        <a href="#" class="footer__logo">Compromiso con la Normativa Legal <br> y el Bienestar
                            Animal</a>

                        <p class="footer_description">

                            Como proyecto enmarcado dentro de las Resoluciones 1862 <br>
                            de 2008 y 10860 de 2017, ExotiPet cumple con todas las <br>
                            normativas para asegurar la protección y bienestar de las <br>
                            mascotas exóticas. Nos aseguramos de que cada aspecto de <br>
                            nuestra plataforma esté alineado con las regulaciones vigentes,<br>
                            ofreciendo un entorno seguro y confiable para nuestros usuarios.<br>
                        </p>
                    </div>

                    <div class="footer__data grid">
                        <div>
                            <h3 class="footer__title">About</h3>

                            <ul class="footer__links">
                                <li>
                                    <a href="#" class="footer__link">About Us</a>
                                </li>

                                <li>
                                    <a href="#" class="footer__link">Features</a>
                                </li>

                                <li>
                                    <a href="#" class="footer__link">News & Blog</a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <h3 class="footer__title">Compnay</h3>

                            <ul class="footer__links">
                                <li>
                                    <a href="#" class="footer__link">FAQs</a>
                                </li>

                                <li>
                                    <a href="#" class="footer__link">History</a>
                                </li>

                                <li>
                                    <a href="#" class="footer__link">Testimonials</a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <h3 class="footer__title">Contact</h3>

                            <ul class="footer__links">
                                <li>
                                    <a href="#" class="footer__link">Call Center</a>
                                </li>

                                <li>
                                    <a href="#" class="footer__link">Support Center</a>
                                </li>

                                <li>
                                    <a href="#" class="footer__link">Contact Us</a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <h3 class="footer__title">Support</h3>

                            <ul class="footer__links">
                                <li>
                                    <a href="#" class="footer__link">Privacy Policy</a>
                                </li>

                                <li>
                                    <a href="#" class="footer__link">Terms & Conditions</a>
                                </li>

                                <li>
                                    <a href="#" class="footer__link">Payments</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer__group">
                    <div class="footer__social">
                        <a href="#" target="_blank" class="footer__social-link">
                            <i class="ri-facebook-line"></i>
                        </a>
                        <a href="#" target="_blank" class="footer__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="#" target="_blank" class="footer__social-link">
                            <i class="ri-twitter-line"></i>
                        </a>
                        <a href="https://www.youtube.com/watch?v=cgV2tN8gxCg&ab_channel=Bedimcode" target="_blank"
                            class="footer__social-link">
                            <i class="ri-youtube-line"></i>
                        </a>
                    </div>
                    <span class="footer__copy">
                        &#169; Brad ;) - 💙
                    </span>
                </div>

            </div>
        </footer>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
        </a>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>